body {
	color: black;
	background: #edab12;
	font-size: 2em;
	font-family: 'Shadows Into Light', cursive;
}

a {
	color: white;
	text-decoration: underline;

}

.greenbox {
	border: 2px solid blue;
	background:#ff3;
	font-size:200%
}

.huge_yo {
	text-align: center;
	font-size: 400px;
	line-height: 80%;
	color: rgb(175,20,20);

}

h2 {
	color:rgb(150,30,30);

}

.leftbox {
	width: 40%;
	float: left;
	padding: 25px;
	/*background:#f3f;*/
}

.rightbox {
	width: 40%;
	float: right;
	padding: 25px;
	/*background:#ff3;*/

}
