

body {
	text-align: center;
	background: rgb(40,40,40);
	font-family: 'Times New Roman', serif; ;
  	src: url(https://fonts.google.com/);
  	padding: 10px;
    border: 3px;
    color: rgb(200,50,50);
}

#artist {
	color: rgb(200,50,50);
	font-size: 80px;
}

div#search{
	float:left;
	width:250px;
	font-size:20px;
}

#searchBar{
	width:250px;
	height:30px;
}

#authButton{
	color: rgb(200,50,50);
	font-size:30px;
	visibility: hidden;
}

#genres {
	font-size: 40px;
	color: rgb(200,50,50);

}

#artistImage{
	margin-left: auto;
    margin-right: auto;
	max-width:20%;
}

#randomButton{
	width:400px;
	height:50px;
	font-size:140%;
}

#genreMessage{
	font-size:20px;
}